<% if logged_in? %>

<p>ログイン完了ユーザ：</p><%= current_use.name %></p>
<% else %>

<h1>タスクリスト</h1>

<ul>
    <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
    <%= link_to '新規タスクの投稿', new_task_path %>
    <% end %>
</ul>

<%= link_to 'login', login_path %>