<p>新規ユーザ登録フォーム</p>

<%= form_for(@use) do |f| %>

<%= f.label :name, '名前' %>
<%= f.text_field :name %>

<%= f.label :email, 'メールアドレス' %>
<%= f.email_field :email %>

<%= f.label :password, 'パスワード' %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, 'Confirmation' %>
<%= f.password_field :password_confirmation %>

<%= f.submit 'Sign up' %>

<% end %>
